.navbar {
    background-color: #35E2E6;
    padding: 15px;
    text-align: center;
}
.navbar a {
    color: #461D19;
    margin: 0 15px;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.buttons {
    margin-top: 50px;
    margin-left: 170px;
}
.buttons a {
    background-color: #C9FFF5;
    color: #555;
    transition: color 1s;
    padding: 10px 20px;
    text-decoration: none;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 10px;
}
.buttons a:hover{
    background-color: #66FFE3;
}
body {
    background-image: url('src/clouds.png'); /* Ganti dengan path atau URL gambar yang ingin digunakan */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Set tinggi gambar menjadi 100% dari viewport height */
    margin: 0;
    padding: 0;
    background-color: #C9FFF5;
}
.gambarlogo{
    width: 35px;
    height: 25px;
    margin-top: 7px;
    position: absolute;
    top: 2px;
    left: 5px;
}
.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 5px;
}
.arduinologo{
    width: 90px;
    height: 90px;
}
.plclogo{
    width: 90px;
    height: 90px;
}
.awalan{
    color: #461D19;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
    margin-top: 150px;
    margin-left: 180px;
}
.awalantentang{
    color: #461D19;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}
.awalantentang1{
    margin-top: 90px;
    color: #461D19;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}
.deskrip{
    color: #461D19;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: justify;
    font-size: 20px;
    margin-left: 180px;
    margin-right: 600px;
}
.deskriptentang{
    color: #461D19;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin-left: 90px;
    text-align: justify;
    margin-right: 550px;
}
@media (max-width: 1020px){
    .navbar {
        background-color: #35E2E6;
        padding: 15px;
        text-align: center;
    }
    .navbar a {
        color: #461D19;
        margin: 0 15px;
        font-size: 16px;
        font-style: italic;
        text-decoration: none;
        font-weight: bold;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .buttons {
        margin-top: 20px;
        margin-left: 70px;
    }
    .buttons a {
        background-color: #C9FFF5;
        color: #555;
        transition: color 1s;
        padding: 10px 20px;
        text-decoration: none;
        font-style: italic;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        border-radius: 5px;
        margin: 0 10px;
    }
    .buttons a:hover{
        background-color: #66FFE3;
    }
    body {
        background-image: none; /* Ganti dengan path atau URL gambar yang ingin digunakan */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; /* Set tinggi gambar menjadi 100% dari viewport height */
        margin: 0;
        padding: 0;
        background-color: #35E2E6;
    }
    .gambarlogo{
        width: 35px;
        height: 25px;
        margin-top: 7px;
        position: absolute;
        top: 2px;
        left: 5px;
    }
    .awalan{
        color: #461D19;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-style: italic;
        font-size: 45px;
        margin-top: 50px;
        margin-left: 80px;
    }
    .deskrip{
        color: #461D19;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-style: italic;
        text-align: justify;
        font-size: 20px;
        margin-left: 80px;
        margin-right: 60px;
    }
}
